<div class="hire_page">
  <p>  You can contact me or hire me by Message cloud. </p>
  <p> Send me your contact, your message or your offer in detail.</p>
  <p> I will respond your message as soon as possible.</p>
  <br/>
  <br/>
  <p>
    Thanks and Best Regards
  </p>
  <br/>
  <br/>
  <p>
    Restu Adi
  </p>

</div>
