<div class="message_page">
  <div class="messageInfo"></div>
  <form id="formMessage">

    <input type="fullname" name="fullname" id="fullname" placeholder="your full name" title="type your full name">

    <input type="number" name="hp" id="hp" placeholder="your handphone" title="type your handphone">

    <input type="email" name="email" id="email" placeholder="your.email@example.com" title="type your email">

    <textarea id="contentText" name="contentText" rows="10" placeholder="your message" title="type your message"></textarea>

    <div class="g-recaptcha" id="capcay"></div>

    <input type="submit" id="submitMessage" value="Submit" title="click to submit your message">
  </form>
  <controller>
</div>
