<div class="apps_page">
  <p>
    I can develop desktop, web and android application based on web with html, css, javascript, jQuery (front-end).

  </p>

  <p>
    Then make a web service with api using nodejs or csharp (back-end).
  </p>

  <p>
     I like to store data with MySql or MongooDB.
  </p>

</div>
