<div class="education_page">
  <p>
    I graduated from Prisma Sanjaya Senior High School.

    Then graduated from Institut Teknologi Nasional (ITENAS) with a bachelor degree in Information Technology.
  </p>
  <br />
  <p>
    I studied in many course for expand my knowledge and understanding the web and javascript technologies
    such as below :
    <p>

    <p>
      Learn and Understand NodeJS, ES6 Javascript: The Complete Developer's Guide, JavaScript: Understanding the Weird Parts
    </p>



</div>
