<div class="passion_page">
  <p>  Hello, my name is Restu Adi! I'm a javascript enthusiast who develop web or application with javascript.</p>
<p>I can setting up server, domain, DNS to working with javascript technologies.</P>
<p>I know how javascript works.</p>
<p> I'm always reading a book, article and take the course to keep myself updated.</p>
<p>
  I'm working my way on javascript (front end,back end) and learning javascript libraries such as express, mongoose, jquery.
</p>
<br/>
<p>
I like this quote to upgrade myself :<br/>
"Don't Compare Your Result To Someone Else's. You Can Never Be Another Person. You Can Only Be a Better Version of Yourself."
</p>

</div>
