<div class="skills_page">
  <p>
    My Skills :
  </p>

  <ol style="margin-left:2em;">
    <li>
      Javascript 90%
    </li>
    <li>
      HTML 85%
    </li>
    <li>
      CSS 80%
    </li>
    <li>
      jQuery 80%
    </li>
    <li>
      C#/Csharp 80%
    </li>
    <li>
      MySQl 70%
    </li>
    <li>
      MSSQl 70%
    </li>
    <li>
      MongooDB 70%
    </li>
    <li>
      Angular 60%
    </li>


  </ol>

</div>
