.magnifier{
    width: 100px;
    height: 100px;
    top:39%;
    left:46%;
    display:none;
    transform: translate(-50%,-50%);
    z-index: 999;
    box-shadow: 0px 0px 0px 1px #fff;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: magnify 1s linear infinite alternate;
       -moz-animation: magnify 1s linear infinite alternate;
            animation: magnify 1s linear infinite alternate;
}
.magnifier:after, .magnifier:before{
    position: absolute;
    content: "";
}
.magnifier:before{
    content: "Loading";
    font-size: 25px;
    left: 10.5px;
    text-align: center;
    top: 31px;
    color: white;
}
@-webkit-keyframes magnify{
    0%{-webkit-transform: scale(1); }
    100%{-webkit-transform: scale(1.5);}
}
@-moz-keyframes magnify{
    0%{-moz-transform: scale(1); }
    100%{-moz-transform: scale(1.5);}
}
@keyframes magnify{
    0%{transform: scale(1); }
    100%{transform: scale(1.5);}
}
