.messageInfo{
  border: 2px solid;
  //border-color: #06ef53;
  //border-color: #ec3b9d;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3.5px;
  //background-color: #a2fdc0;
  //background-color: #f8b7db;
  //color: #04be42;
  //color:#ec3b9d;
  font-family: cursive;
  font-size: 13px;
  display:none;
}

.success{
  border-color: #06ef53;
  background-color: #a2fdc0;
  color:#04be42;
}

.fail{
  border-color: #ec3b9d;
  background-color: #f8b7db;
  color:#ec3b9d;
}

input {
    width: 49.6%;
    padding: 7px 10px;
    margin: 3.5px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: inherit;
    font-family: cursive;
    color: inherit;
}

input:hover {
  border-color: #00b4ff;
  background:rgba(255, 255, 255, 0.5);
}

input[type=email] {
    width: 100%;
}


input::placeholder {
  color: white;
}

input:hover::placeholder {
  color: #00b4ff;
}

input:focus::placeholder {
  color: #00b4ff;
}

textarea {
    width: 100%;
    height: 110px;
    padding: 7px 10px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: inherit;
    resize: none;
    font-family: cursive;
    color:inherit;
}

textarea:hover{
  border-color: #00b4ff;
  background:rgba(255, 255, 255, 0.5);
}

textarea::placeholder {
  color: white;
}

textarea:hover::placeholder {
  color: #00b4ff;
}

textarea:focus::placeholder {
  color: #00b4ff;
}

input:focus{
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #00b4ff;
  outline: none;
  background:rgba(255, 255, 255, 0.5);
}

textarea:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #00b4ff;
  outline: none;
  background:rgba(255, 255, 255, 0.5);
}

input[type=submit] {
    width: 60%;
    height: auto;
    float: right;
    background-color: inherit;
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 7px;
    border: none;
  //  border-radius: 4px;
    cursor: pointer;
    border: 2px solid white;
    font-weight: 2000;
}

input[type=submit]:hover {
  border: 2px solid #00b4ff;
  color: inherit;
  background: white;
  border-radius: 10px;
}

#capcay{
  width:30%;
  transform:scale(0.75);
  transform-origin:0 0;
  display: inline-block;
}
