.profile_page{
  //background:#eefaff;
  position: absolute;
  border-radius: 1.5em;
  padding: 1em;
  top:49%;
  left:50%;
  height: 30em;
  width: 47em;
  transform: translate(-50%,-50%);
}


.profile_page,.contact_page{
  //background:#eefaff;
  position: absolute;
  border-radius: 1.5em;
  padding: 1em;
  top:49%;
  left:50%;
  height: 30em;
  width: 47em;
  transform: translate(-50%,-50%);
}
