.profile-left{
  //background: blanchedalmond;
  width : 23%;
  height: 35%;
  border-radius: 1.5em 0 0 1.5em;
  display: block;
  position: absolute;
  //float:left;
  left:38%;
  //z-index: -1;
}

.profile-row{
  width : 76.5%;
  display: inline-block;
  margin-left: 0.25em;
}

.profile-img{
  border: 1px solid #ddd;
  border-radius:1.5em;
  padding: 0.3em;
  width: 10em;
  background: #eefaff;

}


.pr-title{
  width: 99%;
  height: 17%;
  z-index: -4;
  //position: absolute;
  background:rgba(255, 255, 255, 0.1);
  border-radius:1.5em 1.5em 0 0;
}

.pr-title-content{
  color: #006c99;
  font-size:2em;
  height: 5em;
  margin: 0.95em 0 0 0.75em;

}

.pr-menu{
  width: 47%;
  height: 1%;
  position: absolute;

  z-index: 10;
//  background: yellowgreen;
}

.pr-content{
  height: 79%;
  width: 95%;
  z-index: -2;
  display:block;
  position: absolute;
  background: #dbd3d7;
  border-radius: 0 0 1.5em 1.5em;
  font-family: cursive;
  color:#006c99;
  padding-top: 20px;
}

.pr-menu-cloud{
  	background: #fff;
  	border-radius: 100px;
  	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);


  	height: 120px;
  	position: relative;
  	width: 350px;
    transform: scale(0.3);
    display:inline-block;
    float: left;

}

.pr-menu-cloud:after, .pr-menu-cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.pr-menu-cloud:after {
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.pr-menu-cloud:before {
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.prmc-one{
  left:-56em;
  top: -2em;
}

.prmc-two{
  left:-42.3em;
  top: -9.5em;
}

.prmc-three{
  left:-27.3em;
  top: -17em;
}

.prmc-four{
  left:-13em;
  top: -24.5em;
}

.pr-menu-cloud-text{
  font-family: cursive;
  font-weight: bold;
  font-size: 4em;
  line-height: 1px;
  text-align: center;
  color:#006c99;
  position: absolute;

  cursor: pointer;
}

.prmct-one{
  top:0.75em;
  left: 1em;
}

.prmct-two{
  top:0.75em;
  left: 0.47em;
}

.prmct-three{
  top:0.75em;
  left: 1.45em;
}

.prmct-four{
  top:0.75em;
  left: 1.5em;
}
