<div class="contact_page">

  <div class="profile-left">
    <img src="Styles/imgs/profile.jpg" class="profile-img">
  </div>


  <div class="profile-row pr-title">
      <div class="pr-title-content">
        <!--Hello, I'am Restu Adi !-->
      </div>
  </div>

  <div class="profile-row pr-menu">


      <div class="pr-menu-cloud comc-two">
        <div class="pr-menu-cloud-text comct-two">
          Hire Me
        </div>
      </div>

      <div class="pr-menu-cloud comc-three">
        <div class="pr-menu-cloud-text comct-three">
          Message
        </div>
      </div>




  </div>

  <div class="profile-row pr-content">
      <div class="contact_pages"></div>
  </div>

</div>
