<div class="profile_page">

  <div class="profile-left">
    <img src="Styles/imgs/profile.jpg" class="profile-img">

  </div>


  <div class="profile-row pr-title">
      <div class="pr-title-content">
        <!--Hello, I'am Restu Adi !-->
      </div>
  </div>

  <div class="profile-row pr-menu">
      <div class="pr-menu-cloud prmc-one">
        <div class="pr-menu-cloud-text prmct-one">
          Passion
        </div>
      </div>

      <div class="pr-menu-cloud prmc-two">
        <div class="pr-menu-cloud-text prmct-two">
          Education
        </div>
      </div>

      <div class="pr-menu-cloud prmc-three">
        <div class="pr-menu-cloud-text prmct-three">
          Skills
        </div>
      </div>

      <div class="pr-menu-cloud prmc-four">
        <div class="pr-menu-cloud-text prmct-four">
          Apps
        </div>
      </div>


  </div>

  <div class="profile-row pr-content">
      <div class="profile_pages"></div>
  </div>

</div>
